.overlay {
  background-color: #0000004f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease;
  opacity: 0;
}

.overlayEnter {
  opacity: 1;
  visibility: visible;
}

.overlayLeave {
  opacity: 0;
  visibility: hidden;
}
