.overlay {
  background-color: #0000004f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-enter {
  opacity: 0;
}

.overlay-enter.overlay-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.overlay-exit {
  opacity: 1;
}

.overlay-exit.overlay-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
