.card {
  padding: 10px;
  height: 120px;
  border-radius: .5rem;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(154, 154, 154, 0.5);
  background-color: white;
  overflow: hidden;

  * {
    color: black;
  }
}

.card100 {
  width: calc(100% - 2rem);
}

.card50 {
  width: calc(50% - 2rem);
}

.card25 {
  width: calc(25% - 2rem);
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #ececec;
  padding: 10px;
  margin: -10px -10px 10px -10px;
  border-radius: .5rem .5rem 0 0;

  & span {
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
  }
}

.cardControls {
  display: flex;
}

.cardBody {
  font-weight: lighter;
  font-size: 14px;
}

.starIcon_inactive {
  fill: black;
}

.starIcon_active {
  fill: #989831;
}

.moreInfoIcon {
  margin-right: 5px;
}

@media (max-width: 992px) {
  .card25 {
    width: calc(33.3% - 2rem);
  }
}

@media (max-width: 768px) {
  .card25 {
    width: calc(50% - 2rem);
  }
}

@media (max-width: 576px) {
  .card25,
  .card50 {
    width: calc(100% - 2rem);
  }
}
