.card {
  padding: 10px;
  max-height: 100px;
  border-radius: .5rem;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(154, 154, 154, 0.5);
  background-color: white;
  * {
    color: black;
  }
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #ececec;
  padding: 10px;
  margin: -10px -10px 10px -10px;
  border-radius: .5rem .5rem 0 0;
  & span {
    font-weight: bold;
    font-size: 16px;
  }
}

.cardControls {
  display: flex;
}

.cardBody {
  font-weight: lighter;
  font-size: 14px;
}

.starIcon_inactive {
  fill: black;
}

.starIcon_active {
  fill: #989831;
}

.moreInfoIcon {
  margin-right: 5px;
}
