* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

.appContainer {
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container {
  overflow-y: auto;
  padding: 10px;
  background-color: #f1f1f1;
}
