* {
  box-sizing: border-box;
}

body, ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.appContainer {
  width: 100%;
  height: 100vh;
}

.container {
  overflow-y: auto;
  padding: 10px;
  background-color: #dee7e8;
  height: calc(100vh - 55px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.icon {
  cursor: pointer;
}
